.login_page_header{
position: absolute;
top: 0;

}


.bodyform{
    
    background-image:url("https://wallpaperaccess.com/full/4542406.jpg") ;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}