.bodysign{
    background-image: url("http://ca.rbcwealthmanagement.com/delegate/services/file/1880745/content");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}